<div class="center hero-unit">
  <h3> С нами можно связаться несколькими способами:</h3>

  <ul>

    <li>
      <b>Телефоны:</b>
      <br/>
      (812) 297-21-06
      <br/>
      (812) 297-22-67
    </li>

    <li>
      <b>График работы:</b>
      <br/>
      с 11:00 до 20:00
      <br/>
      Воскресенье с 11:00 до 19:00
      <br/>
      Без обеда и выходных
    </li>

    <li>
      <b>Электронная почта:</b>
      <br/>
      <%= mail_to "Alexrosh92@mail.RU"%>
    </li>

    <li>
      <b>Социальная сеть:
        <a href="http://vk.com/alexrosh92" target="_blank">ВКонтакте</a>
      </b>
  </ul>
  </li>
      <li>
        <b>Наш офис находится здесь</b>
      </li>

  <div id="map" style="width: 600px; height: 400px"></div>
</div>