<div class="center hero-unit">
  <h3> С нами можно связаться несколькими способами:</h3>

  <ul>
    <li>
      <b><u> Адрес:</u></b>
      <br/> г.Москва,  м.Университет, ул.Плотинная,2
    </li>
    <li>
      <b><u>Телефоны:</u></b>
      <br/>
      (812) 297-21-06
      <br/>
      (812) 297-22-67
    </li>

    <li>
      <b><u>График работы:</u></b>
      <br/>
      с 11:00 до 20:00
      <br/>
      Воскресенье с 11:00 до 19:00
      <br/>
      Без обеда и выходных
    </li>

    <li>
      <b><u>Электронная почта:</u></b>
      <br/>
      <%= mail_to "Alexrosh92@mail.RU"%>
    </li>

    <li>
      <b><u>Социальная сеть: <a href="http://vk.com/alexrosh92" target="_blank">
        <br/>
        ВКонтакте</a></u></b>
  </ul>
</div>