<div class="center hero-unit">
   <div class="row-fluid">


     <div class="span12">
       <h1>О нашем сайте</h1>
     <p>  Добро пожаловать на сайт "Уроки игры на гитаре"!</p>
     <p>Вы хотите научиться играть на гитаре, но не знаете с чего начать? Тогда данный ресурс, предназначенный для начинающих гитаристов, будет Вам очень полезен.</p>
     <p> Этот сайт, по сути, является самоучителем игры на акустической гитаре. Здесь Вы найдете всю необходимую для новичков информацию - как устроена гитара, как ее правильно выбрать, как настроить гитару, как играть аккорды, различные приемы игры и многое другое.</p>
     <p>На сайте есть обучающий курс игры на гитаре. Он представляет из себя серию видео уроков игры на гитаре, что позволяет более наглядно донести учебный материал до обучающегося, и любой может освоить гитару не выходя из дома.
       Научиться играть на гитаре может каждый, для этого нужно лишь немного терпения, старания и, главное, желание научиться играть.
       На сайте так же представлены видео каверы различных песен, к каждому из которых вы можете скачать урок с разбором всех приемов игры. Число этих песен будет постоянно увеличиваться.</p>
     <p>Успехов в освоении игры и надеемся наши уроки игры на гитаре помогут вам!</p>
     </div>

     <div class="span2  offset1">
       <%= link_to image_tag("accord.jpg", size: "160x200"),accords_path  %>
     </div>
     <div class="span2 offset2">
       <%= link_to image_tag("article.jpg", size: "160x200"),articles_path  %>
     </div>
     <div class="span2 offset2">
       <%= link_to image_tag("video.jpg", size: "160x200"),lessons_path  %>
     </div>
   </div>

</div>