<div class="center hero-unit">
<h1>О гитарах и все, что с ними связано</h1>




  <% @articles.each do |article| %>
      <div class="row-fluid">
        <div class="span9 offset1 post_index">
          <h3><%= link_to  article.name, article %></h3>
          <p><%= truncate article.body, length: 500 %></p>
        </div>
      </div>
  <% end %>
  <br />

  <%= link_to 'New Article', new_article_path %>
</div>
