/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require jquery.ui.all
 **/
@import "bootstrap";
@import 'header.css.scss';
@import 'layouts.css.scss';

footer{
  margin-top: 15px;
  padding-top: 15px;
  margin-bottom: 5px;
  border-top: 2px solid #000;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  line-height: 20px;

  font-size: 14px;
  text-align: center;
  color: #C44E18;
}

.hero-unit{
  background-color: #E6DEA5;
  a{
    text-decoration: none;
    color: #b44e18 !important;
    &:hover, active {
      text-decoration: none;
      color: #C44E18 !important;
    }
  }
}

#map {
  width:500px;
  height:500px;
}

//**********************************************
//загрузка файлов
.mask-wrapper {
  height: 37px;
  margin-left: 5px;
  margin-top: 5px;
}
.mask-wrapper .send-file {
  padding: 3px 20px;
  margin-left: 3px;
  color: #000000;
  background-color: #2dcc47;
}
.mask-wrapper .fileInputText {
  position: relative;
  width: 133px;
  top: 3px;
}
.custom-file-input {
  width: 252px;
  opacity: 0;
  filter: alpha(opacity=0);
  position: relative;
  top: -27px;
  left: -16px;
  z-index: 99999;
  cursor: pointer;
}