<div class="center hero-unit">
  <h1>Аккорды</h1>

  <div id="accordion">
    <% @alfavit.each do |letter| %>
        <h3><%=letter%></h3>
        <div>
          <% @accords.each do |accord| %>
              <% if accord.name[0] == letter %>
                  <div class="span2">
                    <%= link_to  accord.name, accord %>
                  </div>
              <% end%>
          <% end %>
        </div>
    <% end %>
  </div>

  <%= link_to 'New Accord', new_accord_path %>

</div>
