<div class="center hero-unit">
<h1>Таблица аккордов</h1>

  <div class="row-fluid">
    <table>

    <% @accords.each do |accord| %>

          <tr>
        <h3><%= link_to  accord.name, accord %></h3>
          </tr>
    <% end %>

    </table>

  </div>
  <%= link_to 'New Accord', new_accord_path %>
</div>